@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kalam&display=swap');

html {
  height: 100vh;
}

.App {
  text-align: center;
  background-color: #3cab93;
}

.content-container {
  margin-top: 100px;
  height: 94vh;
}

.App-header {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #3b3bbc;
  min-height: 6vh;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  align-items: center;
  justify-content: flex-start;
  color: white;
  border-bottom: 2px solid whitesmoke;
}

.timer-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.start-btn{
  /* animation: fadeIn 1s linear; */
  transition: all .4s;
  padding: 14px;
  margin: 20px;
  width: 110px;
  font-size: 22px;
  color: white;
  background-color: rgb(68, 68, 207);
  border: none;
  border-radius: 8px;
  letter-spacing: 3px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: rgb(53, 53, 170);
}

.start-btn:active {
  letter-spacing: 2px;
}

.hidden-btn {
  display: none;
}

.word-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

.word {
  color: whitesmoke;
  font-size: 16px;
}

input {
  width: 300px;
  margin: 20px;
  color:rgb(59, 59, 188);
  background-color: whitesmoke;
  border-radius: 10px;
  border: none;
  box-shadow: 6px 6px 2px 1px rgba(59, 59, 188, .2);
} 

input,
input::placeholder {
    font: 20px/2 sans-serif;
} 

.left-input {
  text-align: right;
  font-size: 40px;
  padding-right: 10px;
  outline: none;

}

.right-input {
  padding-left: 10px;
  font-size: 40px;
  outline: none;
}

.score {
  font-weight: bold;
  color: rgb(59, 59, 188);
  font-size: 24px;
}

.hi-score {
  /* animation: fadeIn 1s linear; */
  display: flex;
  justify-content:flex-end;
  padding-right: 30px;
  font-weight: bold;
  color: rgb(59, 59, 188);
  font-size: 20px;
  margin: 20px;
}

.strike-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  gap: 20px;
}

.strike {
  font-size: 24px;
  border: 3px double red;
  background-color: #399a85;
}

.rejected-word {
  color: red;
  font-weight: bold;
}

table {
  background-color: #399a85;
  border: 2px solid #3eaf96;
  width: 700px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 6px 6px 2px 1px rgba(59, 59, 188, .2);
}
  
th {
  border: 2px solid rgb(59, 59, 188);
  /* background-color: rgb(59, 59, 188); */
  color: whitesmoke;
  border-radius: 4px;
}

td {
  text-align: center;
  border: 2px solid rgb(59, 59, 188);
  color: whitesmoke;
  font-weight: bold;
  border-radius: 4px;
}

.added-score {
  animation: fadeIn 2s linear;
  color: rgb(59, 59, 188);
  font-size: 20px;
  font-weight: bold;
}

.plus-one {
  position: absolute;
  color: whitesmoke;
  font-size: 22px;
  font-weight: bold;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (max-width: 700px) {
  input {
    width: 170px;

  }
  input,
input::placeholder {
    font: 12px/2 sans-serif;
} 

.left-input {
  font-size: 30px;
}

.right-input {
  font-size: 30px;
}
}

@media screen and (max-width: 500px) {
  input {
    width: 130px;

  }
  input,
  input::placeholder {
      font: 9px/2 sans-serif;
  } 

.left-input {
  font-size: 24px;
}

.hi-score {
  padding: 10px;
  margin: 0px;
}

.right-input {
  font-size: 24px;
}
}





